version: '3.9'
services:
  app:
    build:
      context: .
      dockerfile: docker/dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - ./:/go/src/app
    tty: true
    environment:
      - MYSQL_HOST=dockerMySQL

  db:
    image: mysql:5.7
    container_name: dockerMySQL
    platform: linux/amd64
    ports:
      - "3306:3306"
    volumes:
      - mysql_volume:/var/lib/mysql
      - ./db/schema.sql:/docker-entrypoint-initdb.d/0-schema.sql
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=app
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=password
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_ARBITRARY: 1
      PMA_HOST: db
      PMA_USER: admin
      PMA_PASSWORD: password
    links:
      - db
    ports:
      - 4000:80


volumes:
  mysql_volume: